.container {
    background-color:white;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: auto;
    border-radius: 10px;
    border-color:#6dd7fd;
    border-style: solid;
    z-index: 1;
}

h3 {
    color: #6dd7fd;
    padding: 10px;
}

.input_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}
.input_container input{
    width: 80px;
    height: 25px;
    border-radius: 5px;
    border-color:#6dd7fd;
    border-style: solid;
    text-align: center;
    background-color: white;
    color: #6dd7fd;
}

.input_container input:focus{
    outline: none;
    caret-color: #6dd7fd;
}

.input_container button{
    background-color: white;
    border-radius: 5px;
    border-color:#6dd7fd;
    border-style: solid;
    color: #6dd7fd;
    width: 60px;
    height: 25px;
}

.input_container button:hover{
    background-color: #6dd7fd;
    color: white;
}

.input_container input::placeholder{
    color: #6dd7fd;
}

.input_container input:focus::placeholder{
    color: transparent;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
       -webkit-appearance: none;
        margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}