.myButton button{
    background-color: #fff;
    border-radius: 5px;
    border-color:#6dd7fd;
    border-style: solid;
    color: #6dd7fd;
    width: 60px;
}

.myButton button:hover{
    background-color: #6dd7fd;
    color: #F4F4FE;
}